.card-main {
    height: 300px;
    transition: all .2s ease-out;
    box-shadow: inset 0 0 10px #666;
}

.card-main:hover {
    transform: translateY(-5px);
}

.card-title {
    font-size: .8em;
}

.card-img {
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: auto;
}

.maps-icon {
    width: 30px;
}

.language-parag {
    font-size: .7em;
}

.independent-parag {
    font-size: .9em;
}


/* ? responsive media queries */

@media screen and (max-width:767px) {
     .google-map-container {
        position: absolute;
        top: 20px;
     }
     .region {
        display: flex;
        align-items: center;
        justify-content: center;
     }
}