.columbus_container {
  /* background-color: #212529; */
  width: 100%;
  height: 100%;
}

.columbus_row {
  /* width: 100%; */
  height: 100%;
}

.introduce_setction {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.introduce_setction .main_title {
  opacity: 0.7;
}

.introduce_setction .main_title::first-letter {
  font-size: 1.4em;
}
.main_title + p {
  font-size: 0.6em;
  font-weight: 100;
  font-style: italic;
}

.video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.columbus-h1 {
  z-index: 1;
}