select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  padding: 5px;
  outline: none;
  border: none;
  border-bottom: 1px solid #aaa;
  color: #777;
  cursor: pointer;
  width: 100%;
  position: relative;
}

.non-transform {
  transform: rotate(0);
}
.with-transform {
  transform: rotate(180deg);
}

.icon-select {
  z-index: 1;
  right: 10px;
}
